
.yoTudniHeader {
	position: fixed;
  top: 0;
  //left: 0;
  width : 100%;
	background-color : #E8EAE9;
	height : 100px;
	display : flex;
	opacity: 1;
	z-index: 20;
}

.titles {
	margin-top : 18px;
}

.logoImg {
    height: 200px;
    position: relative;
    top: -50px;
}


.titles > div {
	float : left;
	margin : 20px;
	font-style : italic;
	font-size : 20px;
}

a:link {
    text-decoration: none;
}