
@font-face {
    font-family: Minimal;
    src: url("../font/minimal.otf") format("opentype");
}

.yoTudniHeader {
	position: fixed;
	top: 0;
  //
	left: 0;
	width : 100%;
	background-color : #2d2c2c;
	height: 70px;
	display : flex;
	opacity: 1;
	z-index: 20;
}

.titles {
   position: fixed;
   top: 0px;
   left : 200px;
   display : flex!important;
   width : 500px;
   height: 70px;
}

.logoImg {
    height: 150px;
    //position: relative;
    //top: -35px;
    //left : 10px;
}

.corrected {
	height : 80px!important;
}

.titles > div {
	//
	float : left;
	/* margin : 0px 10px; */
	font-size : 17px;
	color : #2d2c2c;
	text-transform: uppercase;
	padding: 0 16px;
	/* border-radius: 2px; */
	display: table;
	font-family: fantasy;
	font-weight: unset;
	letter-spacing: 3px;
	height: inherit;
	line-height: 70px;
}

a:link {
    text-decoration: none;
}