

.middleTest {

	margin : 100px;
	width : 100px;
	height : 70px;
	background-color : red;		
}


.middleImg {
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}


