.application {
	margin : 20px;
	font-size : 27px;
	color : black;
	font-style : italic;
	text-decoration : underline;
}

.contButton {
	height: 35px;
	margin: 5px 10px;
}

.linkContainer{
	padding: 20px;
}

.map{
	border : 1px solid black;
}