.secondary {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	
}

.expanded {
	width: 300px;
	height: 300px;
}

.subjectDescription {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 270px;
	height: 270px;
	background-color: yellow;
}

.secondaryImage {
	width: 50px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}

.show-hide {
	transition: all linear 2s;
	
}

.sample-show-hide.ng-hide {
	opacity: 0;
}

.show-hide.ng-hide {
	opacity: 0;
}


.mosaikContainer {
	width: 290px;
	height: 300px;
	border: 2px solid black;
}

.secSelector {
	position: absolute;
	top: 400px;
	left: 400px;
}

.secSelContainer {
	
}

.secSelElement {
	float: left;
	width: 100px;
	height: 40px;
}