.mosaik {
	//position: absolute;
	width: 200px;
	height: 100px;
	float : left;
	margin : 15px;
	border-radius: 5px;
}

.mosaikContainer {
	margin : 0 auto;
	min-height : 260px;
	width : 460px;
	//text-align : justify;
}

.middle {
	margin : 0 auto;
	width : 580px;
}

.expanded {
	width: 300px;
	height: 300px;
}

.subjectDescription {
	padding : 20px;
	margin : 30px; 
	background-color: yellow;
	border-radius : 4px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s 0.5s;
}

.secondaryImage {
	height : 18px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}

.show-hide {
	transition: all linear 2s;	
}

.sample-show-hide.ng-hide {
	opacity: 0;
}


.show-hide.ng-hide {
	opacity: 0;
}

.small {
	width: 100px;
	height: 100px;
}


.secSelector {
	position: absolute;
	top: 400px;
	left: 400px;
}


.container {
	width:100%; 
	margin:0 auto;
	//position: absolute;
	//top: 300px;
}

.innerContainer {
	width : 50%;
}

.selectorContainer {
	width : 560px;
	margin: 0 auto;
	text-align: justify;
}

.selectorContainer div{
	display: inline-block;
	width: 110px;
	height: 40px;	
	margin : 10px 10px;
	border-radius : 3px;	
	//zoom: 1;
	//text-decoration: none;	
}

.selector {
	float: left;
	width: 100px;
	height: 40px;	
	margin-right : 50px;
	border-radius : 3px;		
}

.selectedSubject{
	border : 3px solid black;
}
