.mosaik {
  //position: absolute;
  width: 200px;
  height: 100px;
  float : left;
  margin : 15px;
  border-radius: 5px;
}

.mosaikContainer {
  margin : 0 auto;
  min-height : 260px;
  width: 480px;
  text-align : justify;
}

.secondaryImage {
  height: 24px;
}

