

.teachTitle {
	font-style : underline;
	font-weight: 300;
	font-size: 25px;
	display: table;
	margin-top: 10px;
}

.teacherCont {
	/* display : flex; */
	/* justify-content : space-evenly; */
	//
	width : 400px;
}

.teachImage {
	/* width: auto; */
	height: 200px;
	border : 5px solid #CACFD2;
	border-radius: 93px;
}

.teacherCont > div{
	margin : 10px;	
}

.teacherImgCont {
	width : 300px;
	flex : 1;
}

.teacherImg > img{
	//max-width 
}

.teacherDsc{
	flex : 1;
	//width : 500px;
	border : 3px solid #DBCDCD;
	background-color : #EDE1E1;
	paddig : 20px;
}


.teacherInfo {
	white-space: normal;
}

.teacherContainer{
	width: 190px;
	margin: 20px;
	float: left;
}

.teachersContainer{
  width: 462px;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.infoImg {
  width: 26px;
  margin-top: 10px;
  /* float: left; */
}


.groupTitle{
	display: table;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.teacherHeader{
	border-bottom: 1px solid black!important;
}
